<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/landing.css">
    
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Pushster&display=swap" rel="stylesheet"> 

    <!-- TITLE -->
    <title><%= process.env.COMPANY_NAME %></title>
  </head>
  <body>
    <section id="landing">
      <div class="content-wrapper">
        <div class="overlay" style="opacity: 0; display: none;"></div>

        <div id="landing-header">
          <h1 class="title"><%= process.env.COMPANY_NAME %></h1>
        </div>
  
        <div class="landing-image one"></div>
        <div class="landing-image two"></div>
        <div class="landing-image three"></div>
        <div class="landing-image four"></div>
        <div class="landing-image five"></div>
      </div>
    </section>

    <section id="about">
      <div class="content-wrapper">
        <div class="overlay" style="opacity: 0; display: none;"></div>

        <div class="row w-100 h-75">
          <div class="column about-column h-100">
            <h1 class="title">About</h1>
            <div class="content">
              <h4>
                Helping your business work for you
              </h4>
            </div>
          </div>

          <hr class="verticle tapered">

          <div class="column services-column h-100">
            <h1 class="title">Services</h1>
            <div class="content">

              <table>
                <tbody>
                  <tr>
                    <td>Sick Web Design</td>
                    <td>FREE</td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>        
      </div>
    </section>
      
    <section id="team">
      <div class="content-wrapper">
        <div class="overlay" style="opacity: 0; display: none;"></div>

        <div class="title">
          <h1>
            Team
          </h1>
        </div>

        <div class="carousel-wrapper">
          <% sizes.forEach((size, sIndex) => { %>
            <div class="<%= bss.bsReduction(size.bs) %> h-100 align-items-center">
              <div class="team_carousel carousel slide w-100" data-interval="false">
                <div class="carousel-inner h-100">
                  <% team[size.chunk] .forEach((members, tIndex) => { %>
                    <div class="carousel-item h-100 <%- tIndex == 0 ? 'active' : '' %>">
                      <div class="row h-100">
                        <% members.forEach((member, mIndex) => { %>
                        <div class="column col-<%- (12 / size.chunk) %>">
                    
                          <div class="flip-card-container">
                            <div class="flip-card">
                              <div class="flip-card-front">
                                <img src="<%= member.image %>" alt="<%= member.name %>">
                                <span>- <%= member.name %> -</span>
                              </div>
                              <div class="flip-card-back">
                                <p>
                                  <%= member.description %>
                                  <span>- <%= member.name %> -</span>
                                </p>
                              </div>
                            </div>
                          </div>
          
                        </div>
                        <% }) %>
                      </div>
                    </div>
                  <% }) %>
                </div>
                <a class="carousel-control carousel-control-prev" href=".team_carousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control carousel-control-next" href=".team_carousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          <% }) %>
        </div>
        
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.usebootstrap.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/js/anime.min.js"></script>
    <script src="/js/landing.js"></script>
  </body>
</html>
