<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Small Business Consulting">
    <meta name="keywords" content="Toronto, Ontario, Canada, Contact, Consulting, Business, Software">
    <meta name="author" content="Luka Samac">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/landing.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Pushster&display=swap" rel="stylesheet"> 

    <!-- TITLE -->
    <title><%= process.env.COMPANY_NAME %></title>
  </head>
  <body>
    <section id="landing">
      <div class="content-wrapper">
        <div class="overlay" style="opacity: 0; display: none;"></div>

        <div id="landing-header">
          <h1 class="title"><%= process.env.COMPANY_NAME %></h1>
        </div>
  
        <div class="landing-image one"></div>
        <div class="landing-image two"></div>
        <div class="landing-image three"></div>
        <div class="landing-image four"></div>
        <div class="landing-image five"></div>
      </div>
    </section>

    <section id="about">
      <div class="content-wrapper">
        <div class="overlay" style="opacity: 0; display: none;"></div>

        <div class="row w-100 h-75">
          <div class="column about-column h-100">
            <h1 class="title">About</h1>
            <div class="content about-content">
              <h4 style="font-weight: 300;">
                <%= process.env.COMPANY_NAME %> provides organizational, engineering, and marketing solutions to small businesses in Southern Ontario. By optimizing the condition of your business, <%= process.env.COMPANY_NAME %> helps your business work for you.
              </h4>
            </div>
          </div>

          <hr class="tapered vertical">

          <div class="column services-column h-100">
            <h1 class="title">Services</h1>
            <div class="content services-content">

              <table>
                <tbody>
                  <% Object.keys(services).forEach(key => { %>
                    <tr>
                      <td class="text-center" colspan="3"><%= key %></td>
                    </tr>
                    <% services[key].forEach(service => { %>
                      <tr>
                        <td><%= service.title %></td>
                        <td>&nbsp;</td>
                        <td><%= service.price %></td>
                      </tr>
                    <% }) %>
                  <% }) %>
                </tbody>
              </table>

            </div>
          </div>
        </div>        
      </div>
    </section>
      
    <section id="team">
      <div class="content-wrapper h-75 w-75 mx-auto">
        <div class="overlay" style="opacity: 0; display: none;"></div>

        <div class="title">
          <h1 class="mb-0">
            Team
          </h1>
        </div>

        <div class="row h-100 d-flex justify-content-center align-items-center">
          <% team.forEach((member, mIndex) => { %>
            <div class="col-12 col-md-6 col-lg-4">

              <div class="card mb-3" <% if(!!member.description.trim().length){ %> data-description="<%= member.description %>" <% } %>>
                <div class="card-header px-1" style="border-bottom: none;">
                  <div class="d-flex">
                    <div class="member-img-column">
                      <img src="<%= member.image %>" alt="<%= member.name %>">  
                    </div>
                    <div class="ml-2 member-info-column">
                      <h5>
                        <%= member.name %><span class="credentials text-muted"><%- typeof member.credentials !== 'undefined' ? `, ${member.credentials}` : '' %></span>
                      </h5>

                      <% if(typeof member.position !== 'undefined'){ %>
                        <h6 class="position text-muted"><%= member.position %></h6>
                      <% } %>

                      <% if(typeof member.socials !== 'undefined'){ %>
                        <div class="socials">
                          <% member.socials.forEach((social, cIndex) => { %>
                            <% if(social.link.trim() !== "" && social.link.slice(-1) !== ":"){ %>
                              <a class="mr-2" href="<%- social.link %>">
                                <i class="<%- social.icon %>"></i>
                              </a>
                            <% } %>
                          <% }) %>
                        </div>
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>          
            </div>
          <% }) %>
        </div>
      </div>
    </section>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true" style="z-index: 1500;">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header"></div>
          <div class="modal-body"></div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.usebootstrap.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/js/anime.min.js"></script>
    <script src="/js/landing.js"></script>
  </body>
</html>
